<h1>The Dining Room</h1>
<p>
    <a [routerLink]="['/home']">Home</a> <br>
    <a [routerLink]="['/restaurants/all']">Restaurants</a> <br>
    <a [routerLink]="['/restaurants/German']">German</a> <br>
    <a [routerLink]="['/restaurants/Chinese']">Chinese</a> <br>
    <a [routerLink]="['/restaurants/American']">American</a> <br>
    <a [routerLink]="['/restaurants/Indian']">Indian</a> <br>
    <a [routerLink]="['/restaurants/Pizza']">Pizza</a> <br>
    <a [routerLink]="['/restaurants/Vegetarian']">Vegetarian</a> <br>
    <a [routerLink]="['/about']">About</a>
</p>
